# Token secreto del bot (Discord Developer Portal -> Bot -> Reset Token / Copy Token)
DISCORD_TOKEN=tu_token_de_discord_aqui

# Canal de texto en Español (#general_es)
CHANNEL_ES_ID=1442996870812274801

# Canal de texto en Inglés (#general_en)
CHANNEL_EN_ID=1555357281309294652

# Puerto para servicio web / health check en plataformas de hosting (Render, Koyeb, Railway)
PORT=3000
