# Token secreto del bot (Discord Developer Portal -> Bot -> Reset Token / Copy Token)
DISCORD_TOKEN=tu_token_de_discord_aqui

# Canal de texto en Español (#general_es)
CHANNEL_ES_ID=1442996870812274801

# Canal de texto en Inglés (#general_en)
CHANNEL_EN_ID=1555357281309294652

# Puerto HTTP para health checks
PORT=3000

# ROL DE LA INSTANCIA:
# 'primary'  -> Tu PC (traducción inmediata local ultra-rápida)
# 'fallback' -> Render (espera 1.8s; si tu PC no responde por estar apagada, Render traduce)
BOT_ROLE=primary
